body {
    background-color: rgb(54, 54, 55);
    
}

h1 {
    font-family:'Delius Unicase', cursive;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    
}

ul {
    margin: 0px;
    text-align: center;
    padding: 0px;
}

ul li {
    display: inline-block;
    
    margin-left: 5px;
    margin-right:5px;
}

ul li a { 
    display: inline-block;
    
    width: 360px;
    height: 450px;
    list-style-type: none;
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Mynerve', cursive;
    font-weight: bold; 
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: -60px;
}

li:hover, a:hover {
    background-color: rgb(240, 195, 73);
    color: black;
    border-radius: 20%;
    box-shadow: 4px 4px rgb(243, 224, 224);
    transform: scale(1.02);
    
}

a:active {
    color:rgb(244, 117, 142);
}

a {
    transition: transform 0.3s ease-in-out;
}